main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  text-transform: uppercase;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.gridRow {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.letter {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: #ffffff;
  color: #ffffff;
}

.letter.correctLetterAndPlace {
  background: #6baa64;
}

.letter.correctLetter {
  background: #dfc56e;
}

.letter.incorrectLetter {
  background: #656665;
}
